---
import BaseLayout from "@layouts/BaseLayout.astro";
import TimeLineElement from "@components/TimeLine.astro";
import { allExp, allEdu, allSkills, allAchv } from "./cvDetails";
---

<BaseLayout title="CV - Farhanah Izzati" sideBarActiveItemID="cv">
	<div class="w-full mb-5 text-3xl font-bold">Experience</div>
	<div class="grid gap-4 mb-10 time-line-container">
		{
			allExp.map((exp) => (
				<TimeLineElement
					title={exp.title}
					location={exp.location}
					date={exp.date}
				/>
			))
		}
	</div>

	<div class="w-full mb-5 text-3xl font-bold">Education</div>
	<div class="grid gap-4 mb-10 time-line-container">
		{
			allEdu.map((edu) => (
				<TimeLineElement
					title={edu.title}
					location={edu.location}
					date={edu.date}
				/>
			))
		}
	</div>

	<div class="w-full mb-5 text-3xl font-bold">Skills</div>
	<ul class="flex flex-wrap gap-3 mb-10 list-disc">
		{allSkills.map((skill) => <li class="btn border-primary">{skill}</li>)}
	</ul>

	<div class="w-full mb-5 text-3xl font-bold">Achievements</div>
	<ul class="grid gap-2 mx-6 list-disc">
		{
			allAchv.map((achv) => (
				<li>
					{achv.title}
					<p class="text-sm italic font-light text-neutral-400">
						{achv.date}
					</p>
				</li>
			))
		}
		<!-- <li>
			<a href="#" target="_blank"> Certification Name (with link)</a>
		</li> -->
	</ul>
</BaseLayout>
