---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/TimeLine.astro";
import { allExp, allEdu, allSkills, allAchv } from "./cvDetails";
---

<BaseLayout title="CV - Farhanah Izzati" sideBarActiveItemID="cv">
	<div class="mb-5 text-3xl w-full font-bold">Experience</div>
	<div class="time-line-container grid gap-4 mb-10">
		{
			allExp.map((exp) => (
				<TimeLineElement
					title={exp.title}
					location={exp.location}
					date={exp.date}
				/>
			))
		}
	</div>

	<div class="mb-5 text-3xl w-full font-bold">Education</div>
	<div class="time-line-container grid gap-4 mb-10">
		{
			allEdu.map((edu) => (
				<TimeLineElement
					title={edu.title}
					location={edu.location}
					date={edu.date}
				/>
			))
		}
	</div>

	<div class="mb-5 text-3xl w-full font-bold">Skills</div>
	<ul class="list-disc mb-10 flex flex-wrap gap-3">
		{allSkills.map((skill) => <li class="btn">{skill}</li>)}
	</ul>

	<div class="mb-5 text-3xl w-full font-bold">Achievements</div>
	<ul class="list-disc mx-6 grid gap-2">
		{
			allAchv.map((achv) => (
				<li>
					{achv.title}
					<p class="font-light text-sm italic text-neutral-400">
						{achv.date}
					</p>
				</li>
			))
		}
		<!-- <li>
			<a href="#" target="_blank"> Certification Name (with link)</a>
		</li> -->
	</ul>
</BaseLayout>
