---
import { Image } from "astro:assets";
const { project, target = "_blank" } = Astro.props;
---

<div
	class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"
>
	<a href={`/portfolio/${project.slug}`} target={target}>
		<div class="hero-content flex-col md:flex-row">
			{
				project.data.heroImage && (
					<Image
						src={project.data.heroImage}
						alt={project.data.title}
						class="max-w-full md:max-w-[13rem] rounded-lg border border-neutral"
					/>
				)
			}
			<div class="grow w-full">
				<h1 class="text-xl font-bold">
					{project.data.title}
				</h1>
				<p class="py-1 text-1xl">{project.data.description}</p>
			</div>
		</div>
	</a>
</div>
