---
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
import { Image } from "astro:assets";

const { project } = Astro.props;
dayjs.extend(localizedFormat);
// const displayDate = dayjs(project.data.pubDate).format("ll");
---

<BaseLayout
	title={`${project.data.title} - Farhanah Izzati`}
	description={project.data.description}
	image={project.data.heroImage}
>
	<main class="md:flex md:justify-center">
		<article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
			{
				project.data.heroImage && (
					<Image
						src={project.data.heroImage}
						alt={project.data.title}
						class="w-full mb-6 border rounded-lg border-neutral"
						loading="eager"
						transition:name={`${project.data.title}Image`}
					/>
				)
			}
			<h1
				class="my-2 text-4xl font-bold title"
				transition:name={project.data.title}
			>
				{project.data.title}
			</h1>
			<div
				class="space-x-2"
				transition:name={`${project.data.title}Badges`}
			>
				{
					project.data.tools.map((tool: string) => {
						const badgeColor =
							tool === "PowerBI"
								? "warning"
								: tool === "Tableau"
									? "info"
									: tool === "Excel"
										? "success"
										: "secondary";

						return (
							<div class={`badge badge-${badgeColor}`}>
								{tool}
							</div>
						);
					})
				}
			</div>
			<div class="my-2 divider"></div>
			<slot />
		</article>
	</main>
</BaseLayout>
