---
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
import { Image } from "astro:assets";

const { project } = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(project.data.pubDate).format("ll");
---

<BaseLayout
	title={`${project.data.title} - Farhanah Izzati`}
	description={project.data.description}
	image={project.data.heroImage}
>
	<main class="md:flex md:justify-center">
		<article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
			{
				project.data.heroImage && (
					<Image
						src={project.data.heroImage}
						alt={project.data.title}
						class="w-full mb-6"
					/>
				)
			}
			<h1 class="title my-2 text-4xl font-bold">{project.data.title}</h1>
			<div class="divider my-2"></div>
			<slot />
		</article>
	</main>
</BaseLayout>
